<head>
    <title>ABOUT</title>
</head>

{% extends "base.html" %}
{% block content %}
{% load static %}
<body>
    <div class="sobre_container">
        <h1 id="palabra_de"><u>PALABRA CAMPESINA</u></h1>
    <h2><i>Historias de las comunidades ágricolas de Watsonville</i></h2>
    <p>
        La mayoría de los campamentos laborales de Watsonville, que fueron una fuente vital de vivienda para los trabajadores agrícolas, se cerraron oficialmente en la década de 1970 con el fin del programa bracero. Pero muchas de las comunidades que nacieron de estos campamentos todavía existen y continúan dando forma al paisaje del Valle de Pájaro.
    </p>
    <p>
        El nombre Palabra Campesina muestra el poder de compartir testimonios para preservar la memoria, la historia y la verdad de nuestra región. Nos recuerda que, aunque las comunidades de trabajadores agrícolas a veces viven aisladas, no deberían ser invisibles. Este proyecto nos invita a conocer el corazón de las comunidades agrícolas de Watsonville y a escuchar las historias de las personas cuyo trabajo nos alimenta a todos.
    </p>

    <h1><u>LA CREADORA</u></h1>
    <h2><i>Alex Rocha-Álvarez</i></h2>
    <p>
        Alex Rocha-Álvarez es hija de Jardines del Valle, previamente conocido como el campo Murphy. De niña, ella lo conocía como “el campo del hoyo” porque desde la calle, su hogar se veía como si estuviera atrapado dentro de un hueco en la tierra. Creado cerca del 1920 para ser campo de trabajadores agrícolas, su hogar siempre le ha pertenecido a los campesinos. En Watsonville, hay más campos como el de ella, escondidos entre files y fresas. Si no te acercas para mirar, estos campos son casi invisibles, y las historias de las personas que viven ahí también.
    </p>
    <p>
        Pero Alex cree que todos tenemos algo que aprender de nuestras comunidades agrícolas; ella lo sabe íntimamente porque esta comunidad la crió. Fue en el campo del hoyo que aprendió que no hay corazón como el de campesino. Palabra Campesina es un proyecto que nació de su conocimiento que — si tenemos la sabiduría para escuchar — todos tenemos algo que aprender de nuestros campesinos.
    </p>

    <h1><u>COLABORADORES</u></h1>
    <h2><i>Ángela Higuera - Fotógrafa</i></h2>
    <h2><i>Zelda Montes - Desarrollador web</i></h2>
    <h2><i>Eda Uzunlar - Diseñadora grafico</i></h2>
    </div>
</body>
{% endblock content %}