<head>
    <title>PALABRAS</title>
</head>

{% extends "base.html" %}
{% block content %}
{% load static %}
<body>
    <br>
    <div class="alert">
        <h1>BAJO CONSTRUCCIÓN</h1>
        Esta página aún no está lista; vuelva a consultarla en el nuevo año para interactuar con las historias de <i>Palabra Campesina</i>.
    </div>
    <!-- <div class="palabras_container">
        <div class="palabras_row">

            <div class="singular_palabra_in_row">
                <div id="palabras_video_thumbnail">
                    VIDEO WILL GO HERE; ACTIVE TEST
                </div>
                <div id="palabras_title">
                    <i><a href="palabra.html">José Domingo Sánchez</a></i>
                </div>
            </div>

            <div class="singular_palabra_in_row">
                <div id="palabras_video_thumbnail">
                    VIDEO WILL GO HERE
                </div>
                <div id="palabras_title">
                    <i><u>Eduardo Franco</u></i>
                </div>
            </div>

            <div class="singular_palabra_in_row">
                <div id="palabras_video_thumbnail">
                    VIDEO WILL GO HERE
                </div>
                <div id="palabras_title">
                    <i><u>José Luis Álvarez</u></i>
                </div>
            </div>
        </div>
    </div> -->
</body>

{% endblock content %}