<!DOCTYPE html>
    <body>
        <div style="text-align: center;">
            <div>
                <div style="text-align: center;">
                    <h2>
                        Access Requested <i>Palabra Campesina</i>
                    </h2>
                </div>
                <div style="text-align: left;">
                    <p>
                        The following details were provided with this request:
                    </p>
                    <p>
                        <b>Name</b>:
                        <br>
                        {{ name }}
                    </p>
                    <p>
                        <b>Email address</b>:
                        <br>
                        {{ email }}
                    </p>
                    <p>
                        <b>Organization or affiliation</b>:
                        <br>
                        {{ org_or_affiliation }}
                    </p>

                    <p>
                        <b>Why are you requesting access?</b>
                        <br>
                        {{ message }}
                    </p>
                </div>
            </div>
        <div>
    </body>
</html>
