{% load static %}
<footer>
    <div id="three_column_footer">
        <div id="footer_title">
            <div id="title">
                Palabra Campesina
            </div>
            <div id="subtitle">
                Historias de las comunidades agrícolas
            </div>
        </div>
        <div id="footer_contact">
            <div id="contact_us">
                Contáctenos:
            </div>
            <div>
                (831) 272-2497
            </div>
            <div class="link">
                <a href="mailto:palabracampesina@gmail.com">palabracampesina@gmail.com</a>
            </div>
        </div>
        <div id="footer_socials">
            <div class="link">
                <a href="instagram.com/palabracampesina">Instagram</a>
            </div>
            <div class="link">
                <a href="facebook.com/palabraxcampesina">Facebook</a>
            </div>
        </div>
    </div>
</footer> 
</body>
<script src="{% static 'scripts/navbar.js' %}"></script>
</html>