<head>
    <title>GALLERY</title>
</head>

{% extends "base.html" %}
{% block content %}
{% load static %}
<body>
    <div class="gallery_container">
        <h1>GALERÍA</h1>
        <div class="row justify-content-around">
        {% for d in data %}
            <div class="singular_palabra_in_row">
                <div class="gallery-img-div">
                    <a href="/gallery/{{d.id}}"><img class="gallery_image" src="{% with d.gallery_image|first as first_file %}{{ first_file.url }}{% endwith %}" alt="{{d.title}}"></a>
                </div>
                <div id="palabras_title">
                    <h2><i><a href="/gallery/{{d.id}}">{{d.title}}</a></i></h2>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}</div><br><div class="row justify-content-around">{% endif %}
        {% endfor %}
        </div>
    </div>
</body>
{% endblock content %}