<head>
    <title>INICIO</title>
</head>

{% extends "base.html" %}
{% block content %}
{% load static %}
<body>
    <div class="home_container">
        <h1>Historias de las comunidades agrícolas del Valle de Pájaro</h1>
        
        <div id="home_image_container">
            <figure>
                <div class="img_desktop_container">
                    <img class="img_desktop" src="{% static '/images/peering_through_homepage_wide.jpg' %}">
                    <div class="overlay">
                        <div class="text">
                            <p>
                                La mayoría de los campamentos laborales de Watsonville, que fueron una fuente vital de vivienda para los trabajadores agrícolas, se cerraron oficialmente en la década de 1970 con el fin del programa bracero. Pero muchas de las comunidades que nacieron de estos campamentos todavía existen y continúan dando forma al paisaje del Valle de Pájaro.
                            </p>
                            <p>
                                El nombre Palabra Campesina muestra el poder de compartir testimonios para preservar la memoria, la historia y la verdad de nuestra región. Nos recuerda que, aunque las comunidades de trabajadores agrícolas a veces viven aisladas, no deberían ser invisibles.
                            </p>
                        </div>
                    </div>
                </div>
                <figcaption>“Peering Through” Foto de Ángela Higuera</figcaption>
            </figure>
            <img class="img_mobile" src="{% static '/images/homepage_long.png' %}">
        </div>
    </div>
</body>
{% endblock content %}