<head>
    <title>INICIO</title>
</head>

{% extends "base.html" %}
{% block content %}
{% load static %}
<body>
    <div class="home_container">
        <h1>Historias de las comunidades agrícolas del Valle de Pájaro</h1>
        
        <div id="home_image_container">
            <div class="img_desktop_container"></div>
            <img class="img_mobile" src="{% static '/images/homepage_long.jpeg' %}">
            <p id="credit">“Peering Through” Foto de Ángela Higuera</p>
        </div>
    </div>
</body>
<script src="{% static 'scripts/inicio.js' %}"></script>
{% endblock content %}