<head>
    <title>PALABRA de José Domingo Sánchez</title>
</head>

{% extends "base.html" %}
{% block content %}
{% load static %}
<body>
    <div class="palabra_container">
        <div id="palabra_title">
            <h1 id="palabra_de">
                Palabra de
            </h1>
            <h1 id="palabra_de">
                <i><u>José Domingo Sánchez</u></i>
            </h1>
        </div>
        <div id="palabra_video_quote">
            <div id="palabra_video">
                <p>VIDEO WILL GO HERE</p>
            </div>
            <div id="palabra_quote">
                “Siempre fui chico yo, de los más pequeños en ese trabajo, 19 años. Y la mayoría eran personas grandes. Casi siempre me decían: 'morro, yo no sé por qué andas trabajando aquí. Deberías estudiar, esto no es para ti. Míranos a nosotros, ya estamos bien viejos y todavía andamos aquí trabajando. No estudiamos nunca, por eso usted lárguese en cuanto pueda'. Esos eran sus consejos.”
            </div>
        </div>
        <div id="palabra_transcript">
            <h1>
                Transcript:
            </h1>
            <p>
                All the words that I said in the interview will go here. For now, I'm hoping to fill it as much as possible
            </p>
        </div>
    </div>
</body>
{% endblock content %}