{% load static %}
{% include "english/header.html" %}

<div class="galeria_container">
    <div id="loading">
        <h1>One moment while we retrieve the images...</h1>
    </div>
    <div id="gallery_items">
        <div class="row justify-content-around">
        {% for d in data %}
            <div class="singular_palabra_in_row">
                <div class="gallery-img-div">
                    <a href="/gallery/{{d.id}}"><img class="galeria_image" src="{% with d.gallery_image|first as first_file %}{{ first_file.url }}{% endwith %}" alt="{{d.title}}"></a>
                    <a href="/gallery/{{d.id}}">
                        <div class="quote_overlay">
                            <p>
                                {% if d.description_english %}
                                {{d.description_english|truncatewords:7|slice:"-2"}}...”
                                {% else %}
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </div>
                <div id="in_gallery_title">
                    <h2><i><a href="/gallery/{{d.id}}">{{d.title}}</a></i></h2>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}</div><br><div class="row justify-content-around">{% endif %}
        {% endfor %}
        </div>
    </div>
</div>
<script src="{% static 'scripts/galeria.js' %}"></script>
{% include "english/footer.html" %}