#submit-button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

#subtmit-button:not([disabled]):hover {
    background-color: var(--hover-green);
}

#access-form {
    text-align: left;
    margin: auto;
    width: 32vw
}

.form-actions {
    text-align: center;
}
