.galeria_container {
    padding-top: 0.8em;
}

@media (max-width: 680px) {
    .row {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .galeria_container {
        padding-top: 0;
    }

    #loading h1 {
        font-size: 2em;
    }
}

#loading {
    padding: 20px;
    color: black;
    margin-bottom: 15px;
    height: auto;
    background-color: var(--palabra-green);
    border: 2px solid var(--palabra-green);
    border-radius: 10px;
    text-align: center;
}

.galeria_image {
    width: 100%;

    /* opacity: 1;
    transition: opacity 0.3s; */
}

.gallery-img-div {
    position: relative;
}

.quote_overlay {
    padding: 2em;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.8s;
    color: white;
}

.quote_overlay p {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
}

.quote_overlay:hover {
  opacity: 1;
}

#galeria_figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#galeria_img_wrapper_wide {
    position: relative;
    aspect-ratio: 4 / 3;
    background-color: var(--palabra-green);
}

#galeria_img_wrapper_long {
    position: relative;
    aspect-ratio: 3 / 4;
    background-color: var(--palabra-green);
}

#solo_galeria_image {
    width: 100%;
}

#galeria_figure {
   margin-bottom: 0;
}

.wide {
    width: 88%;
}

.long {
    width: 50%;
}

#galeria_title {
    display: flex;
    justify-content: space-between;
}

#return_to_galeria_button {
    background-color: var(--palabra-green);
    border-color: var(--palabra-green);
    color: black;
}

#return_to_galeria_button:hover {
    background-color: var(--hover-green);
    border-color: var(--hover-green);
}

#galeria_quote_wide {
    text-align: center;
    font-size: clamp(0.9em, 2.3vw, 1.9em);
    font-weight: bold;
}

#galeria_quote_long {
    text-align: center;
    font-size: clamp(0.7em, 1.7vw, 1.3em);
    font-weight: bold;
}

#in_gallery_title {
    width: 100%;
    text-align: center;
}

#in_gallery_title a {
    color: black;
    text-decoration: none;
}


#in_gallery_title a:hover {
    color: green;
    text-decoration: underline;
}

.singular_palabra_in_row {
    flex: 0 0 47%;
}

.singular_palabra_in_row:hover #in_gallery_title a {
    color: green;
    text-decoration: underline;
}
