/* global.css */
@import url("../css/galeria.css");
@import url("../css/historias.css");
@import url("../css/inicio.css");
@import url("../css/navbar.css");
@import url("../css/palabra.css");
@import url("../css/sobre.css");
@import url("../css/footer.css");

:root {
	--palabra-green: #d3e399;
	--hover-green: #c3d28d;
}

@font-face {
  font-family: scribe;
  src: url(../fonts/american-scribe-regular.ttf);
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    padding: 1.6em;
    margin-left: 11%;
    margin-right: 11%;
    padding-bottom: 0;
}

@media (max-width: 680px) {
    body {
        margin-left: 2%;
        margin-right: 2%;
    }

    #logo {
        width: 100% !important;
        min-width: unset !important;
    }
}

h1 {
    padding-top: 0.8vh;
    font-weight: bold;
    font-size: 1.7em;
    padding-bottom: 0.8vh;
}

h2 {
	font-size: 1.2em;
}

p {
	font-size: 16px;
}

figcaption {
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: right;
    font-size: 1.2em;
    font-style: italic;
}


#logo {
    width: 60%;
    min-width: 22em;
}
