/* global.css */
@import url("galeria.css");
@import url("historia.css");
@import url("inicio.css");
@import url("navbar.css");
@import url("palabra.css");
@import url("sobre.css");

:root {
	--palabra-green: #d3e399;
	--hover-green: #c3d28d;
}

@font-face {
  font-family: scribe;
  src: url(/static/fonts/american-scribe-regular.ttf);
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    padding: 1.6em;
    margin-left: 11%;
    margin-right: 11%;
}

h1 {
    padding-top: 0.8vh;
    font-weight: bold;
    font-size: 1.7em;
    padding-bottom: 0.8vh;
}

h2 {
	font-size: 1.2em;
}

p {
	font-size: 16px;
}

figcaption {
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: right;
    font-size: 1.2em;
    font-style: italic;
}

#logo {
    width: 60%;
    min-width: 22em;
}
