.home_container {
    padding-top: 0.8em;
}

#home_image_container {
    width: 100%;
}

/* home image on desktop */
.img_desktop_container {
    position: relative;
    width: 100%;
}

.img_desktop {
    width: 100%;
    display: none;
}

/* image overlay effect to show text */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

/* reveal overlay layer on hover */
.img_desktop_container:hover .overlay {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
}

/* text container for overlay */
.text {
    color: white;
    position: absolute;
    padding-left: 1.6vw;
    padding-right: 1.6vw;
    padding-top: 1.6vw;
}

/* text in container for overlat */
.text p {
    font-weight: bold;
    font-size: 2.3em;
    text-align: justify;
    text-align-last: justify;
}

/* home image on mobile */
.img_mobile {
    width: 100%;
}

/* media queries for displaying image */
@media (min-width: 750px) {
    .img_mobile {
       display: none;
   }
    .img_desktop {
       display: block;
   }
}