@import url("../css/global.css");

nav {
    width: 100%;
    padding-top: 1.6vh;
    padding-bottom: 1.6vh;
}

#nav-container {
    padding-left: 0;
    padding-right: 0;
}

#navbar {
    width: 100%;
}

#nav-button {
    width: 100%;
    justify-content: center;
    border: 0;
    background-color: transparent;
}

#nav-dropdown {
    width: 3em;
}

#nav-items {
    font-size: 1.6em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-item a {
    color: black;
}

.nav-item a:hover {
    color: green;
    text-decoration: underline;
}
