.sobre_container {
    padding-top: 0.8em;
}

@media (max-width: 680px) {
    .sobre_container {
        padding-top: 0;
    }
}

@media (max-width: 555px) {
    #angela_img {
        width: 100% !important;
        min-width: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 1em;
    }

    #zelda_img {
        width: 100% !important;
        min-width: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 1em;
    }
}

.sobre_container p {
    font-size: 1.2em;
}

/* images in sobre page */
#alex_img {
    width: 90%;
}

#alex_img_caption {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#alex_img_caption figcaption {
    width: 90%;
}

#angela_img {
    float: left;
    min-width: 23em;
    width: 40%;
    padding-right: 0.8em;
}

#zelda_img {
    float: left;
    min-width: 23em;
    width: 40%;
    padding-right: 0.8em;
}
