#headings {
    font-family: scribe;
}

figcaption {
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: right;
    font-size: 1.5em;
    font-style: italic;
}

#alex-img {
    width: 100%;
}

#angela-img {
    float: left;
    min-width: 42em;
    width: 50%;
    padding-right: 1em;
}

.sobre_container {
    padding-top: 1em;
}

.sobre_container p {
    font-size: 1.5em;
}

.forty-percent {
    width: 40%;
}

.sixty-percent {
    padding-left: 1em;
    width: 60%;
}

#two-column-pic-text {
    display: flex;
    justify-content: space-between;
}

.gallery_container {
    padding-top: 1em;
}

.home_container {
    padding-top: 1em;
}

#home_image {
    width: 100%;
}

.img-desktop {
    width: 100%;
    display: none;
}

.img-mobile {
    width: 100%;
}

@media (min-width: 750px) {
    .img-mobile {
       display: none;
   }
    .img-desktop {
       display: block;
   }
}

#palabra_title {
    display: flex;
    justify-content: space-between;
}

#palabra_de {
    font-size: calc(2rem + 1vw);
}

#return-button {
    height:100px;
    width:100px;
    font-size: 20px;
}

#palabra_video_quote {
    display: flex;
    justify-content: space-between;
}

#palabra_portrait {
    width: 50%;
    height: 20em;
}

#palabra_video {
    background-color: blue; /* TO BE DELETED */
    /* TO BE EDITED, CHECK IN WITH ALEX */
    width: 50%;
    height: 20em;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }

.palabras_container {
    padding-top: 2em;
}

.gallery_image {
    width: 100%;
}

.palabras_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.singular_palabra_in_row {
    flex: 0 0 47%;
}

#palabras_title {
    width: 90%;
    font-size: 25px;
    text-align: center;
}

#palabras_title a {
    color: black;
    text-decoration: none;
}


#palabras_title a:hover {
    color: green;
    text-decoration: underline;
}

#palabras_video_thumbnail {
    background-color: green;
    width: 90%;
    height: 30vh;
}

#palabra_quote {
    font-style: oblique;
    text-align: justify;
    width: 45%;
    font-size: 2.1vmin;
    font-weight: 500;
}

#gallery_quote {
    font-style: oblique;
    text-align: justify;
    font-size: 3vmin;
    font-weight: 500;
}

.img-desktop-container {
    position: relative;
    width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  /* background-color: gray; */
}

.img-desktop-container:hover .overlay {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
}

.text {
  color: white;
  position: absolute;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vw;
}

.text p {
    font-weight: bold;
    font-size: 2.64vw;
    text-align: justify;
    text-align-last: justify;
}
